* {
    margin: 0;
    padding: 0;
}

.alogin:hover{
    color:white;
}
.are:hover{
    color:white;
}

a:visited {
    color: black;
}

.divmain {
    width: 100%;
    height: auto;
    position: relative;
}

.divheader {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.divo {
    position: relative;
    height: auto;
}

.divt {
    display: inline-block;
    position: relative;
}

.divul {
    color: black;
    display: inline-block;
    position: relative;
    float: right;
    top: 20px;
}

.iicon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 15px;
    margin: 10px 10px;
}

.imglast {
    margin-top: 20px;
}

.erweima {
    display: none;
    position: absolute;
    top: -205px;
    left: -66px;
    width: 150px;
    height: 205px;
    padding: 20px 10px;
    border: 1px solid #d5d8dd;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
    z-index: 2333;
}

.iweixin:hover .erweima {
    display: block;
}

.plable {
    color: grey;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
}

.ptextb {
    color: #a6a6a6;
    margin-bottom: 10px;
    font-size: 14px;
}

.divweixiner {
    width: 130px;
    height: 120px;
    background: url(https://dn-st.teambition.net/site/v2.0.0/images/global/weixin-qr.jpg);
    background-size: cover;
}

.divqq {
    display: none;
    position: absolute;
    top: -130px;
    left: -96px;
    width: 200px;
    height: 130px;
    padding: 20px 10px;
    border: 1px solid #d5d8dd;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
    z-index: 2333;
}

.iqq:hover .divqq {
    display: block;
}

.pfirst{
    font-weight: 700;
    font-size: 14px;
    color: grey;
    line-height: 20px;
}

.pot{
    font-weight: 400;
    font-size: 14px;
    color: #a6a6a6;
    line-height: 20px;
    text-align: left;
}

.atoprice {
    color: black;
}

.atoblog {
    color: black;
}

.bs{
    color: #0099FF;
    font-weight: 400;
}

.ulh {
    visibility: hidden;
}

.lih:hover .ulh {
    visibility: visible;
}

.lih:hover .bh {
    color: #0099FF;
}

.lih:hover .bh {
    color: #0099FF;
}

.ulh:hover li {
    color: #0099FF;
}

.lih2:hover .bh {
    color: black;
}

.ulh {
    border: 1px solid white;
    margin-top: 10px;
    background: white;
}

.liheader {
    float: left;
    font-weight: 800;
}

.h2header {
    color: black;
    display: inline-block;
    font-size: 30px;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.ulheader {
    list-style-type: none;
}

.btnlogin {
    height: 35px;
    width: 80px;
    margin-top: -10px;
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
}

.btnlogin:hover {
    background: grey;
    color: white;
}

.btnup {
    height: 35px;
    width: 80px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #06A6EF;
    border: #06A6EF 1px solid;
    background-color: transparent;
}

.btnup:hover {
    background: #06A6EF;
    color: white;
}

.divmid {
    width: 100%;
    height: auto;
    position: relative;
    top: 80px;
    text-align: center;
}

.divleft {
    max-width: 244px;
    width: 25%;
    display: inline-block;
    position: relative;
    height: auto;
    vertical-align: top;
}

.a1 {
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    color: #6e6e6e;
    font-family: Muli, 'Helvetica Neue', 'Hiragino Sans GB',
    'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 60px;
    background: #F7F7F7;
}

.div1 {
    display: inline-block;
    width: 100%;
    height: 60px;
    vertical-align: middle;
}

.divtubiao {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 30px;
}

.img {
    width: 52px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}

.spantxt {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
    padding-left: 40px;
}

.divcon {
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid #a6a6a6;
    background: white;
}

.p1 {
    padding-top: 15px;
    padding-bottom: 10px;
    color: #a6a6a6;
}

.p2 {
    padding-top: 10px;
    padding-bottom: 15px;
}

.divright {
    display: inline-block;
    vertical-align: top;
    width: 74%;
    max-width: 830px;
    margin-left: 30px;
}

.divsearh {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
}

.as {
    border: 1px solid #0099FF;
    padding: 10px 30px;
    position: relative;
    border-radius: 5px;
    background: #0099FF;
    color: white;
    vertical-align: top;
    float: left;
    clear: both;
}

.txts {
    width: 85%;
    margin-left: 0;
    height: 40px;
    vertical-align: top;
}

.divtext2 {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    margin-top: 20px;

}

.ul1 {
    list-style-type: none;
    position: relative;
}

.li1 {
    border-top: 1px solid #a6a6a6;
}

.lilast {
    border-bottom: 1px solid #a6a6a6;
}

.divout {
    text-align: left;
}

.divi {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.diva {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.a2 {
    color: #6e6e6e;
    font-size: 16px;
}

.divr {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    float: right;
    position: relative;
    line-height: 30px;
    top: 10px;
}

.coc {
    color: #0099FF;
}

.coc2 {
    font-style: normal;
    color: #d1d1d1;
    font-size: 12px;
}

.span1 {
    display: block;
    text-align: left;
    color: grey;
    font-size: 12px;
}

.divnext {
    width: 100%;
    height: auto;
    text-align: right;
}

.txt1 {
    width: 30px;
    height: 30px;
    text-align: center;
}

.a3 {
    color: #6e6e6e;
    margin-left: 20px;
}

.a3:visited {
    color: #6e6e6e;
}

.divbottom {
    width: 100%;
    height: auto;
    background: seagreen;
    position: relative;
    top: 100px;
}

.divbotul {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    background: #333333;
}

.ulbot {
    list-style-type: none;
    display: inline-block;
    margin-left: 4rem;
    margin-top: 30px;
}

.libot {
    font-size: 18px;
    text-align: left;
}

.left {
    text-align: left;
    line-height: 1rem;
}

.a01 {
    color: white;
}

.a02 {
    color: #777;
}

.footer {
    width: 100%;
    height: 70px;
    background: black;
    position: relative;
    text-align: center;
}

.divtext {
    position: relative;
    top: 0px;
    color: #a6a6a6;
    display: inline-block;
    margin-left: 80px;

}

.divimgbot {
    position: relative;
    width: 420px;
    height: 70px;
    display: inline-block;
    top: -3px;
    margin-left:250px;
}

.abot {
    color: #a6a6a6;
}
